<table class="aui">
  
  <tr>
    <th>Issue</th>
    <th>Summary</th>
    <th>Started</th>
    <th>Completed</th>
  </tr>

  {{#each epics}}

    <tr>
      <td>{{link_to}}</td>
      <th>{{fields.summary}}</th>
      <th></th>
      <th></th>
    </tr>
  
    {{#each issues}}
    
      <tr>
        <td>{{link_to}}</td>
        <td>{{fields.summary}}</td>
        <td>{{started_date}}</td>
        <td>{{completed_date}}</td>
      </tr>
    
    {{/each}}

  {{/each}}
</table>
